<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row row-cols-1 row-cols-md-3">
    <% @projects.each do |project| %>
    <div class="col mb-4">
      <div class="card h-100" style="box-shadow: 3px 1px 13px grey;">
        <%= image_tag(project.image, class: "card-img-top", style: "height: 40%") %>
        <div class="card-body">
          <h5 class="cart-title"> <%= project.title %> </h5>
          <p>Por: <cite> <%= project.user.username %> </cite> </p>
          <p class="card-text"> <%= project.description.truncate_words(8) %> </p>
          <div>
            <div class="progress">
              <div class="progress-bar progress-bar bg-info" role="progressbar"
                style="width: <%= "#{project.amount_per_cent.round(2)}%" if project.amount_collected? %>"
                aria-valuenow="<%= project.amount_collected %>" aria-valuemin="0" aria-valuemax="<%= project.goal %>">
                <%= "#{project.amount_per_cent.round(2)}%" if project.amount_collected? %>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
              <%= "#{project.amount_per_cent.round(2)}%" if project.amount_collected? %>
            </div>
            <div class="col">
              <%= "R$ #{project.amount_collected }" %>
              <figcaption><cite> Recebidos </cite></figcaption>
            </div>
            <div class="col">
              <%= project.endline.strftime("%d/%m/%Y") %>
              <figcaption><cite> Encerramento </cite></figcaption>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="text-right">
            <div class="card-body">
              <% if project.user == current_user %>
                <%= link_to 'Editar', edit_project_path(project), class: "btn btn-warning" %>
                <%= link_to 'Apagar', project, method: :delete, data: { confirm: "Tem certeza que quer apagar este projeto?" }, class: "btn btn-danger" %>
              <% end %>
              <%= link_to 'Saiba mais', project, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
