<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <%= link_to "Meus projetos", my_projects_index_path %>
  <%= link_to "Sair", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Entrar", new_user_session_path %>
<% end %>

<h1>All Projects </h1>

<% if @projects.size > 0 %>

<%= search_form_for @q do |f| %>
  <%= f.label :title_cont %>
  <%= f.search_field :title_cont %>
  <%= f.submit %>
  <%= link_to "Limpar Pesquisa", projects_path %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :title) %></th>
      <th>Description</th>
      <th><%= sort_link(@q, :goal) %></th>
      <th>Date Start</th>
      <th><%= sort_link(@q, :endline) %></th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.goal %></td>
        <td><%= project.start_date %></td>
        <td><%= project.endline %></td>
        <td><%= project.user.email %></td>
        <td><%= link_to 'Show', project %></td>
        <% if project.user == current_user %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: "Tem certeza que quer apagar este projeto?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>

  <h3> Não há projetos ainda!</h3>
  <%= link_to "Limpar Pesquisa", projects_path %>

<% end %>

<br>

<%= link_to 'New Project', new_project_path %>
