<p id="notice"><%= notice %></p>

<div style="width: 20%; height: auto;">
  <%= image_tag(@project.image, style: "width: 100%") %>
</div>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Start_date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>Endline:</strong>
  <%= @project.endline %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user.email %>
</p>

<p>
  <strong>Amount Collected:</strong>
  R$ <%= @project.amount_collected %>
</p>

<p>
  <strong>Currently:</strong>
  <%= "#{@project.amount_per_cent.round(2)}%" if @project.amount_collected? %>
</p>

<%= link_to 'Home', projects_path %>
<% if @project.user == current_user %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Meus Projetos', my_projects_index_path %>
<% end %>


<%= render 'donations/form' %>

<%= render 'donations/donors' %>
