<p id="notice"><%= notice %></p>

<div style="width: 20%; height: auto;">
  <%= image_tag(@project.image, style: "width: 100%") %>
</div>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Start_date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>Endline:</strong>
  <%= @project.endline %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user.email %>
</p>

<% if @project.user == current_user %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Meus Projetos', projects_path %> |
<% end %>
<%= link_to 'Home', home_index_path %>
